<div id="<%= dom_id building %>">
  <p>
    <strong>Name:</strong>
    <%= building.name %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= building.number %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= building.capacity %>
  </p>

  <p>
    <strong>Floors:</strong>
    <%= building.floors %>
  </p>

</div>
