<div id="<%= dom_id reservation %>">
  <p>
    <strong>Room number:</strong>
    <%= reservation.room.number %>
  </p>

  <p>
    <strong>Room name:</strong>
    <%= reservation.room.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= reservation.user.email_address %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= time_tag reservation.start_time, "data-local": "time", "data-format": "%B %e, %Y %l:%M%P" %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= time_tag reservation.end_time, "data-local": "time", "data-format": "%B %e, %Y %l:%M%P" %>
  </p>

  <p>
    <strong>Purpose:</strong>
    <%= reservation.purpose %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= reservation.notes %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= reservation.status %>
  </p>

</div>
