<div id="<%= dom_id reservation %>">
  <p>
    <strong>Room:</strong>
    <%= reservation.room_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= reservation.user_id %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= reservation.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= reservation.end_time %>
  </p>

  <p>
    <strong>Purpose:</strong>
    <%= reservation.purpose %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= reservation.notes %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= reservation.status %>
  </p>

</div>
